.submitForm{
    width:70%;
    border-radius:5px;
    border:1px solid lightgray;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.submitForm input{
    width:90%;
    height: 25px;
    margin: 8px;
    padding:5px;
    border:1px solid black;
    border-radius: 5px;
}